.cursorFocus { 
    
        caret-color:#ff006e;
       /* caret-width:'20px'; */
       
}
.searchBar {
    background-color: black;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}