
.container-box{
        width: auto;
        height: 20em;
    position: relative;
    /* margin: 20px; */
}
.containerBox{
    width: auto;
    height: 15em;
position: relative;
/* margin: 20px; */
}
.box{
    width: 100%;
    height: 100%;            
    position: absolute;
    top: 0;
    left: 0;
    /* opacity: 0.8;  for demo purpose  */
}
.stack-top{
    z-index: 1;
    /* margin: 20px; for demo purpose  */
    /* border-radius: 5%; */
    overflow-x: scroll;
}
.stackTop{
    z-index: 1;
    /* margin: 20px; for demo purpose  */
    overflow-x: scroll;
}

.stackTop img {
    border-radius: 5%;
}
.stack-top img {
    margin: 15px;
}

.stack-top p {
    color: #ffffff;
    font-weight: bold;
}

.stack-top div {
    background-color: black;
    margin: 10px;
}

